/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #212529;
    color: #fff; /* Couleur du texte adaptée pour contraster avec le fond */
    line-height: 1.6;
}

nav {
    background-color: #333;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.titre {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.titre:hover {
    color: #007BFF;
}

.search {
    position: relative;
    width: 200px;
    margin: 20px auto;
}

#searchbar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #444;
    color: #fff;
    transition: background-color 0.3s ease, width 0.3s ease, padding 0.3s ease;
}

#searchbar:focus {
    outline: none;
    background-color: #555;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    width: 100%; /* Conserve la largeur lorsqu'elle est survolée */
    padding: 10px 20px; /* Augmente le padding pour donner plus d'espace au texte */
}

/* Animation de changement de couleur et de taille pour la barre de recherche */
@keyframes searchBarAnimation {
    0% {
        background-color: #444;
        width: 100%;
        padding: 10px;
    }
    50% {
        background-color: #555;
        width: 100%;
        padding: 10px 20px;
    }
    100% {
        background-color: #444;
        width: 100%;
        padding: 10px;
    }
}

#searchbar:hover {
    animation: searchBarAnimation 1s infinite;
}


.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.app-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.app-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.app-card img {
    width: 100%;
    height: auto;
}

.app-card h3 {
    color: #000; /* Titre des applications en noir */
    margin: 10px 0;
}

.app-card p {
    color: #666;
}

/* Animation de pulse pour les cartes d'applications */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
 }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
 }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
 }
}

.app-card:hover {
    animation: pulse 1s infinite;
}

/* Debut Original ThunderOs Element*/

.animated-text {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(45deg, #FF5733, #4A90E2, #FFD700, #E91E63); /* Dégradé de couleurs */
    background-size: 400% 400%; /* Ajuste la taille du dégradé pour l'animation */
    -webkit-background-clip: text; /* Applique le dégradé au texte */
    color: transparent; /* Rend le texte transparent pour voir l'effet de dégradé */
    animation: gradientAnimation 5s ease infinite; /* Animation de changement de dégradé */
}

/* Animation pour le dégradé */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Fin Original ThunderOs Element*/
